<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/unity-default.css" />

    <link rel="stylesheet" href="/css/main-navigation.css" />
    <link rel="stylesheet" href="/css/media-query.css" />
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e094d62b087906335713439b4/17e62b9dfd4895711c4acec8f.js");</script>
    <title>Unity Infusion</title>
  </head>
  <body>
  {{ block "header" . }}
    {{ partial "header/header.html" . }}
    {{ end }}
<main>
    {{ block "main" . }}
    {{ end }}
</main>
    {{ block "footer" . }}
    {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
</html>
