<header class="site-header">
    <div class="inside-header grid-container">
      <div class="site-logo">
        <img
          class="header-image"
          alt="Unity Infusion"
          src="/logos/header.png"
          width="200px"
        />
      </div>

      <nav
        class="main-navigation has-menu-bar-items sub-menu-right"
        id="site-navigation"
        aria-label="Primary"
        itemtype="https://schema.org/SiteNavigationElement"
        itemscope=""
      >
        <div class="inside-navigation grid-container">
          <div id="primary-menu" class="main-nav">
            <ul id="menu-main" class="menu sf-menu">
              <li id="menu-home" class="menu-item">
                <a
                  href="https://bernadettes36.sg-host.com/"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li id="menu-about" class="menu-item">
                <a href="https://bernadettes36.sg-host.com/about-us/"
                  >About Us</a
                >
              </li>
              <li id="menu-work" class="menu-item">
                <a href="https://bernadettes36.sg-host.com/category/projects/"
                  >Our Work</a
                >
              </li>
              <li id="menu-contact" class="menu-item">
                <a href="https://bernadettes36.sg-host.com/contact/"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>