.main-navigation {
    z-index: 100;
    padding: 0;
    clear: both;
    display: block;
  }
  
  .main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
  }
  
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .main-navigation .main-nav ul li a {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
  }
  
  .inside-navigation {
    position: relative;
  }
  
  .main-navigation .inside-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.main-navigation .main-nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .main-navigation li {
    position: relative;
  }
  
  .main-navigation .menu-bar-items {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .main-navigation .menu-bar-items a {
    color: inherit;
  }
  
  .main-navigation .menu-bar-item {
    position: relative;
  }
  
  .main-navigation .menu-bar-item.search-item {
    z-index: 20;
  }
  
  .main-navigation .menu-bar-item > a {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
  }
  .sidebar .main-navigation .main-nav {
    flex-basis: 100%;
  }
  
  .sidebar .main-navigation .main-nav > ul {
    flex-direction: column;
  }
  
  .sidebar .main-navigation .menu-bar-items {
    margin: 0 auto;
  }
  
  .sidebar .main-navigation .menu-bar-items .search-item {
    order: 10;
  }
  .main-navigation ul ul {
    display: block;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    float: left;
    position: absolute;
    left: -99999px;
    opacity: 0;
    z-index: 99999;
    width: 200px;
    text-align: left;
    top: auto;
    transition: opacity 80ms linear;
    transition-delay: 0s;
    pointer-events: none;
    height: 0;
    overflow: hidden;
  }
  .main-navigation a,
.main-navigation .menu-toggle,
.main-navigation .menu-bar-items {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.main-navigation .main-nav ul li a,
.main-navigation .menu-toggle,
.main-navigation .menu-bar-items {
  color: var(--color-contrast-5);
}

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a,
.main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a,
.main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a,
.main-navigation .menu-bar-item:hover > a,
.main-navigation .menu-bar-item.sfHover > a {
  color: var(--color-contrast-4);
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #ffffff;
  }
  
  .main-navigation ul ul a {
    display: block;
  }
  
  .main-navigation ul ul li {
    width: 100%;
  }
  
  .main-navigation .main-nav ul ul li a {
    line-height: normal;
    padding: 10px 20px;
    font-size: 14px;
  }
  .main-navigation .main-nav ul li.menu-item-has-children > a {
    padding-right: 0;
    position: relative;
  }
  
  .main-navigation.sub-menu-left ul ul {
    box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .main-navigation.sub-menu-left .sub-menu {
    right: 0;
  }
  
  .main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #ffffff;
  }
  .main-navigation:not(.toggled) ul li.sfHover > ul,
.main-navigation:not(.toggled) ul li:hover > ul {
  left: auto;
  opacity: 1;
  transition-delay: 150ms;
  pointer-events: auto;
  height: auto;
  overflow: visible;
}

.main-navigation:not(.toggled) ul ul li.sfHover > ul,
.main-navigation:not(.toggled) ul ul li:hover > ul {
  left: 100%;
  top: 0;
}

.main-navigation.sub-menu-left:not(.toggled) ul ul li.sfHover > ul,
.main-navigation.sub-menu-left:not(.toggled) ul ul li:hover > ul {
  right: 100%;
  left: auto;
}


.nav-float-right .main-navigation ul ul ul {
    top: 0;
  }

  .widget-area .main-navigation li {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .widget-area .main-navigation {
    margin-bottom: 20px;
  }
  .main-navigation.toggled .main-nav {
    flex-basis: 100%;
    order: 3;
  }
  
  .main-navigation.toggled .main-nav > ul {
    display: block;
  }
  
  .main-navigation.toggled .main-nav li {
    width: 100%;
    text-align: left;
  }
  
  .main-navigation.toggled .main-nav ul ul {
    transition: 0s;
    visibility: hidden;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .main-navigation.toggled .main-nav ul ul li:last-child > ul {
    border-bottom: 0;
  }
  
  .main-navigation.toggled .main-nav ul ul.toggled-on {
    position: relative;
    top: 0;
    left: auto !important;
    right: auto !important;
    width: 100%;
    pointer-events: auto;
    height: auto;
    opacity: 1;
    display: block;
    visibility: visible;
    float: none;
  }
  
  .main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle {
    float: right;
  }