
  
  @media (max-width: 768px) {
    .hide-on-mobile {
      display: none !important;
    }
  
    a,
    body,
    button,
    input,
    select,
    textarea {
      transition: all 0s ease-in-out;
    }
  
    .inside-header {
      flex-direction: column;
      text-align: center;
    }
  
    .site-header .header-widget {
      margin-top: 1.5em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  
    .site-content {
      flex-direction: column;
    }
  
    .container .site-content .content-area {
      width: auto;
    }
  
    .is-left-sidebar.sidebar,
    .is-right-sidebar.sidebar {
      width: auto;
      order: initial;
    }
  
    .is-left-sidebar + .is-right-sidebar .inside-right-sidebar {
      margin-top: 0;
    }
  
    .both-left .inside-left-sidebar,
    .both-left .inside-right-sidebar,
    .both-right .inside-left-sidebar,
    .both-right .inside-right-sidebar {
      margin-right: 0;
      margin-left: 0;
    }
  
    #main {
      margin-left: 0;
      margin-right: 0;
    }
  
    body:not(.no-sidebar) #main {
      margin-bottom: 0;
    }
  
    .alignleft,
    .alignright {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    .comment .children {
      padding-left: 10px;
      margin-left: 0;
    }
  
    .entry-meta {
      font-size: inherit;
    }
  
    .entry-meta a {
      line-height: 1.8em;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .hide-on-tablet {
      display: none !important;
    }
  }
  
  @media (min-width: 1025px) {
    .hide-on-desktop {
      display: none !important;
    }
  }
    

@media (max-width: 768px) {
    .hide-on-mobile {
      display: none !important;
    }
  
    a,
    body,
    button,
    input,
    select,
    textarea {
      transition: all 0s ease-in-out;
    }
  
    .inside-header {
      flex-direction: column;
      text-align: center;
    }
  
    .site-header .header-widget {
      margin-top: 1.5em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  
    .site-content {
      flex-direction: column;
    }
  
    .container .site-content .content-area {
      width: auto;
    }
  
    .is-left-sidebar.sidebar,
    .is-right-sidebar.sidebar {
      width: auto;
      order: initial;
    }
  
    .is-left-sidebar + .is-right-sidebar .inside-right-sidebar {
      margin-top: 0;
    }
  
    .both-left .inside-left-sidebar,
    .both-left .inside-right-sidebar,
    .both-right .inside-left-sidebar,
    .both-right .inside-right-sidebar {
      margin-right: 0;
      margin-left: 0;
    }
  
    #main {
      margin-left: 0;
      margin-right: 0;
    }
  
    body:not(.no-sidebar) #main {
      margin-bottom: 0;
    }
  
    .alignleft,
    .alignright {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    .comment .children {
      padding-left: 10px;
      margin-left: 0;
    }
  
    .entry-meta {
      font-size: inherit;
    }
  
    .entry-meta a {
      line-height: 1.8em;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .hide-on-tablet {
      display: none !important;
    }
  }
  
  @media (min-width: 1025px) {
    .hide-on-desktop {
      display: none !important;
    }
  }

  @media (max-width: 400px) {
    :root{
        --max-width: 375px;
    }
    .banner-text{
       padding-left:10px;
       margin:40px;
    }
.approach-container{
    max-width: var(--max-width);
    padding: 5px 5px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'left';
    column-gap: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .approach-image-panel{
    grid-area: left;
    grid-row: 1;
  }
  .approach-text-panel{
    grid-area: left;
    grid-row: 2;
  }

  .join-movement-container{
    max-width: var(--max-width);
    grid-template-rows: auto auto;
    grid-template-areas: 
    'left';
    column-gap: 10px;
    padding: 5px 5px;
    margin-right: auto;
    margin-left: auto;
  }
  .join-movement-panel{
  
    grid-row: 1;
    grid-area: left;

  }
  .join-movement-founder-panel{
    grid-area: left;
    grid-row: 2;

  }
  
  }