:root {
  --color-contrast: #121212;
  --color-contrast-2: #181b49;
  --color-contrast-3: #181b49;
  --color-contrast-4: #7a51df;
  --color-contrast-5: #ceb7ff;
  --color-base-1: #e4b463;
  --color-base-2: #ffffff;
  --color-accent: #f7f3dc;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: Nunito, open-sans, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

progress {
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  text-transform: none;
  font-size: 17px;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  margin-bottom: 1.5em;
  padding: 20px;
  overflow: auto;
  max-width: 100%;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0 1.5em;
  position: relative;
}

blockquote p:last-child {
  margin: 0;
}

table,
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}

td,
th {
  padding: 8px;
}

th {
  border-width: 0 1px 1px 0;
}

td {
  border-width: 0 1px 1px 0;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

fieldset {
  padding: 0;
  border: 0;
  min-width: inherit;
}

fieldset legend {
  padding: 0;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h3 {
  font-size: 29px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h4,
h5,
h6 {
  margin-bottom: 20px;
}

ol,
ul {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

b,
strong {
  font-weight: 700;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

ins,
mark {
  text-decoration: none;
}

sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #55555e;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 10px 20px;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border: 1px solid;
  border-radius: 0;
  padding: 10px 15px;
  max-width: 100%;
}

textarea {
  width: 100%;
}

a,
button,
input {
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

a {
  text-decoration: none;
}

.button,
.wp-block-button .wp-block-button__link {
  padding: 10px 20px;
  display: inline-block;
}

.wp-block-button .wp-block-button__link {
  font-size: inherit;
  line-height: inherit;
}

.using-mouse :focus {
  outline: 0;
}

.using-mouse ::-moz-focus-inner {
  border: 0;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.no-sidebar .entry-content .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#primary[tabindex="-1"]:focus {
  outline: 0;
}

.main-navigation {
  z-index: 100;
  padding: 0;
  clear: both;
  display: block;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation .main-nav ul li a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.inside-navigation {
  position: relative;
}

.main-navigation .inside-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation .main-nav > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-navigation li {
  position: relative;
}

.main-navigation .menu-bar-items {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.main-navigation .menu-bar-items a {
  color: inherit;
}

.main-navigation .menu-bar-item {
  position: relative;
}

.main-navigation .menu-bar-item.search-item {
  z-index: 20;
}

.main-navigation .menu-bar-item > a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.sidebar .main-navigation .main-nav {
  flex-basis: 100%;
}

.sidebar .main-navigation .main-nav > ul {
  flex-direction: column;
}

.sidebar .main-navigation .menu-bar-items {
  margin: 0 auto;
}

.sidebar .main-navigation .menu-bar-items .search-item {
  order: 10;
}

.nav-align-center .inside-navigation {
  justify-content: center;
}

.nav-align-center .main-nav > ul {
  justify-content: center;
}

.nav-align-right .inside-navigation {
  justify-content: flex-end;
}

.main-navigation ul ul {
  display: block;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  float: left;
  position: absolute;
  left: -99999px;
  opacity: 0;
  z-index: 99999;
  width: 200px;
  text-align: left;
  top: auto;
  transition: opacity 80ms linear;
  transition-delay: 0s;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.main-navigation a,
.main-navigation .menu-toggle,
.main-navigation .menu-bar-items {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.main-navigation .main-nav ul li a,
.main-navigation .menu-toggle,
.main-navigation .menu-bar-items {
  color: var(--color-contrast-5);
}

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a,
.main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a,
.main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a,
.main-navigation .menu-bar-item:hover > a,
.main-navigation .menu-bar-item.sfHover > a {
  color: var(--color-contrast-4);
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
  color: #ffffff;
}

.main-navigation ul ul a {
  display: block;
}

.main-navigation ul ul li {
  width: 100%;
}

.main-navigation .main-nav ul ul li a {
  line-height: normal;
  padding: 10px 20px;
  font-size: 14px;
}

.main-navigation .main-nav ul li.menu-item-has-children > a {
  padding-right: 0;
  position: relative;
}

.main-navigation.sub-menu-left ul ul {
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-navigation.sub-menu-left .sub-menu {
  right: 0;
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
  color: #ffffff;
}
.gold-panel-left {
  margin-bottom: 80px;
  background-image: linear-gradient(
    90deg,
    var(--color-base-1) 30%,
    var(--color-base-2) 30%
  );
}

.gold-panel-right {
  margin-bottom: 80px;
  background-image: linear-gradient(
    270deg,
    var(--color-base-1) 30%,
    var(--color-base-2) 30%
  );
}

.gold-panel-inner {
  display: flex;
  align-items: center;
  column-gap: 80px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.gold-panel-picture {
  width: 60%;
  height: 100%;
}

.gold-panel-text {
  width: 40%;
  height: 100%;
}
.gold-panel-icon {
  line-height: 0;
  color: var(--color-base-1);
  padding-bottom: 0.5em;
}

.gold-panel-svg{width: 2.5em;
  height: 2.5em;
  fill: currentColor;}

h3.gold-panel-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 0.5em;
  text-transform: capitalize;
}

.header-banner{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-contrast-2);
}
.movement-panel{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-contrast);
}

.movement-panel::before{
  content: "";
  background-image: url(https://bernadettes36.sg-host.com/wp-content/uploads/2024/08/people-seminar.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: inherit;
  pointer-events: none;
  opacity: 0.1;
}



.movement-panel-inner{
  z-index: 1;
  position: relative;
  padding: 200px 40px;
  margin-right: auto;
  margin-left: auto;}

.movement-panel-right{
  width: 50%;
  margin-left: auto;
}


.copyright{
  font-size: 13px;
    line-height: 2em;
    text-align: center;
    margin-bottom: 0px;
}

.header-banner::before{
  content: "";
    background-image: url(https://bernadettes36.sg-host.com/wp-content/uploads/2024/08/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: inherit;
    pointer-events: none;
    opacity: 0.35;
}

.header-banner-inner{
    z-index: 1;
    position: relative;
    padding: 60px 40px;
    margin-right: auto;
    margin-left: auto;
}

.header-banner-heading{
  text-transform: capitalize;
    text-align: center;
    margin-bottom: 0px;
    color: var(--color-base-2);
}

.hero-section {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hero-section::before {
  content: "";
  background-image: url(https://bernadettes36.sg-host.com/wp-content/uploads/2024/08/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: inherit;
  pointer-events: none;
}
.hero-section::after {
  content: "";
  background-image: linear-gradient(
    90deg,
    rgba(24, 28, 74, 0.83) 2%,
    rgba(227, 180, 98, 0.31)
  );
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.site-footer::before {
  content: "";
  background-image: url(https://bernadettes36.sg-host.com/wp-content/uploads/2024/08/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: inherit;
  pointer-events: none;
  opacity: 0.1;
}

.main-navigation:not(.toggled) ul li.sfHover > ul,
.main-navigation:not(.toggled) ul li:hover > ul {
  left: auto;
  opacity: 1;
  transition-delay: 150ms;
  pointer-events: auto;
  height: auto;
  overflow: visible;
}

.main-navigation:not(.toggled) ul ul li.sfHover > ul,
.main-navigation:not(.toggled) ul ul li:hover > ul {
  left: 100%;
  top: 0;
}

.main-navigation.sub-menu-left:not(.toggled) ul ul li.sfHover > ul,
.main-navigation.sub-menu-left:not(.toggled) ul ul li:hover > ul {
  right: 100%;
  left: auto;
}

.nav-float-right .main-navigation ul ul ul {
  top: 0;
}

.menu-item-has-children .dropdown-menu-toggle {
  display: inline-block;
  height: 100%;
  clear: both;
  padding-right: 20px;
  padding-left: 10px;
}

.menu-item-has-children ul .dropdown-menu-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.widget-area .main-navigation li {
  float: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-header {
  position: relative;
  background-color: var(--color-contrast-3);
}

.inside-header {
  padding: 20px 40px;
}

.site-logo {
  display: inline-block;
  max-width: 100%;
}

.site-logo .header-image {
  vertical-align: middle;
  max-width: 200px;
}

.inside-header {
  display: flex;
  align-items: center;
}

.nav-float-right .header-widget {
  margin-left: 20px;
}

.nav-float-right #site-navigation {
  margin-left: auto;
}

.nav-float-left #site-navigation {
  margin-right: auto;
  order: -10;
}

.nav-float-left .header-widget {
  margin-left: 0;
  margin-right: 20px;
  order: -15;
}

.sticky {
  display: block;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.widget-area .main-navigation {
  margin-bottom: 20px;
}

nav.toggled .icon-arrow-left svg {
  transform: rotate(-90deg);
}

nav.toggled .icon-arrow-right svg {
  transform: rotate(90deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon svg {
  transform: rotate(180deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon.icon-arrow-left svg {
  transform: rotate(-270deg);
}

nav.toggled .sfHover > a > .dropdown-menu-toggle .gp-icon.icon-arrow-right svg {
  transform: rotate(270deg);
}

.container.grid-container {
  width: auto;
}

.menu-toggle,
.mobile-bar-items,
.sidebar-nav-mobile {
  display: none;
}

.menu-toggle {
  padding: 0 20px;
  line-height: 60px;
  margin: 0;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
  cursor: pointer;
}

.menu-toggle .mobile-menu {
  padding-left: 3px;
}

.menu-toggle .gp-icon + .mobile-menu {
  padding-left: 9px;
}

.menu-toggle .mobile-menu:empty {
  display: none;
}

button.menu-toggle {
  background-color: transparent;
  flex-grow: 1;
  border: 0;
  text-align: center;
}

button.menu-toggle:active,
button.menu-toggle:focus,
button.menu-toggle:hover {
  background-color: transparent;
}

.has-menu-bar-items button.menu-toggle {
  flex-grow: 0;
}

nav.toggled ul ul.sub-menu {
  width: 100%;
}

.toggled .menu-item-has-children .dropdown-menu-toggle {
  padding-left: 20px;
}

.main-navigation.toggled .main-nav {
  flex-basis: 100%;
  order: 3;
}

.main-navigation.toggled .main-nav > ul {
  display: block;
}

.main-navigation.toggled .main-nav li {
  width: 100%;
  text-align: left;
}

.main-navigation.toggled .main-nav ul ul {
  transition: 0s;
  visibility: hidden;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main-navigation.toggled .main-nav ul ul li:last-child > ul {
  border-bottom: 0;
}

.main-navigation.toggled .main-nav ul ul.toggled-on {
  position: relative;
  top: 0;
  left: auto !important;
  right: auto !important;
  width: 100%;
  pointer-events: auto;
  height: auto;
  opacity: 1;
  display: block;
  visibility: visible;
  float: none;
}

.main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle {
  float: right;
}

.mobile-menu-control-wrapper {
  display: none;
  margin-left: auto;
  align-items: center;
}

.has-inline-mobile-toggle #site-navigation.toggled {
  margin-top: 1.5em;
}

.has-inline-mobile-toggle #site-navigation.has-active-search {
  margin-top: 1.5em;
}

.has-inline-mobile-toggle
  #site-navigation.has-active-search
  .nav-search-active {
  position: relative;
}

.has-inline-mobile-toggle
  #site-navigation.has-active-search
  .navigation-search
  input {
  outline: auto;
}

.nav-float-left .mobile-menu-control-wrapper {
  order: -10;
  margin-left: 0;
  margin-right: auto;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }

  a,
  body,
  button,
  input,
  select,
  textarea {
    transition: all 0s ease-in-out;
  }

  .inside-header {
    flex-direction: column;
    text-align: center;
  }

  .site-header .header-widget {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .site-content {
    flex-direction: column;
  }

  .container .site-content .content-area {
    width: auto;
  }

  .is-left-sidebar.sidebar,
  .is-right-sidebar.sidebar {
    width: auto;
    order: initial;
  }

  .is-left-sidebar + .is-right-sidebar .inside-right-sidebar {
    margin-top: 0;
  }

  .both-left .inside-left-sidebar,
  .both-left .inside-right-sidebar,
  .both-right .inside-left-sidebar,
  .both-right .inside-right-sidebar {
    margin-right: 0;
    margin-left: 0;
  }

  #main {
    margin-left: 0;
    margin-right: 0;
  }

  body:not(.no-sidebar) #main {
    margin-bottom: 0;
  }

  .alignleft,
  .alignright {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .comment .children {
    padding-left: 10px;
    margin-left: 0;
  }

  .entry-meta {
    font-size: inherit;
  }

  .entry-meta a {
    line-height: 1.8em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide-on-desktop {
    display: none !important;
  }
}
