<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="unity-default.css" />
    <title>Unity Infusion</title>
  </head>
  <body style="margin: 0">
    {{ partial "header/header.html" . }}

    <main>
      <section>
        <h2>About Me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          auctor, nunc id aliquam tincidunt, urna nunc tincidunt nunc, id
          lacinia nunc nisl id nunc.
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; 2022 My Website. All rights reserved.</p>
    </footer>
  </body>
</html>
