<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="unity-default.css" />
    <title>Unity Infusion</title>
  </head>
  <body style="margin: 0">
    {{ partial "header/header.html" . }}

    <main>
      <section class="hero-section">
        <div
          style="
            max-width: 1300px;
            z-index: 1;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 150px;
            padding-bottom: 150px;
            margin-right: auto;
            margin-left: auto;
          "
        >
          <div
            style="
              width: 70%;
              height: 100%;
              padding-left: 40px;
              border-left: 10px solid var(--color-base-2);
            "
          >
            <h1
              style="
                display: inline-block;
                padding: 8px 16px;
                color: var(--color-base-2);
                background-color: var(--color-contrast-4);
              "
            >
              Together We Rise:
            </h1>

            <h1
              style="
                display: inline-block;
                padding: 8px 16px;
                color: var(--color-base-2);
                background-color: var(--color-contrast-4);
              "
            >
              Building Stronger Communities
            </h1>

            <p
              style="font-size: 18px; padding: 8px; color: var(--color-base-2)"
            >
              Unity Infusion is a culturally-significant,&nbsp;grassroots
              organization on a mission to build socially connected, equitable,
              and empowered communities. We bridge divides, foster
              collaboration, and uplift marginalized voices – – one community at
              a time.
            </p>

            <a
              style="
                background-color: var(--color-base-3);
                border: 1px solid var(--color-base-2);
                color: var(--color-base-2);
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 2rem;
                padding: 12px 36px;
                text-transform: uppercase;
              "
              href="https://bernadettes36.sg-host.com/contact/"
              >Take action now</a
            >
          </div>
        </div>
      </section>
      <section>
        <div
          style="
            margin-right: auto;
            margin-left: auto;
            background-color: var(--color-contrast-2);
          "
        >
          <div
            style="
              max-width: 1300px;
              display: flex;
              flex-direction: row;
              align-items: stretch;
              justify-content: space-between;
              column-gap: 60px;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <div
              style="
                width: 50%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 40px;
                padding-right: 60px;
                padding-left: 60px;
                margin-right: auto;
                margin-left: auto;
                background-color: var(--color-contrast-3);
              "
            >
              <h2 style="font-weight: 700; color: var(--color-base-2)">
                Join the movement and become a part of our community.
              </h2>

              <p style="color: var(--color-contrast-5)">
                At Unity Infusion, we believe that strong communities are built
                on genuine connections and shared purpose. Our vision is a world
                where every neighbor feels valued, heard, and empowered to
                co-create a thriving, equitable future. We do this&nbsp;by
                implementing a research-based, organizing&nbsp; strategy that:
              </p>
              <p style="display: flex;
              align-items: center;
              column-gap: 0.5em;
              font-size: 18px;
              font-weight: 500;
              color: var(--color-contrast-5);">
                <span style="line-height: 0; padding-right: 1em;"><svg
                    aria-hidden="true"
                    role="img"
                    height="1em"
                    width="1em"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"
                    ></path></svg></span
                ><span class="gb-headline-text"
                  >Intentionally seeks out and centers
                  minoritized&nbsp;communities</span
                >
              </p>
              <p style="display: flex;
              align-items: center;
              column-gap: 0.5em;
              font-size: 18px;
              font-weight: 500;
              color: var(--color-contrast-5);">
                <span style="line-height: 0; padding-right: 1em;"><svg
                    aria-hidden="true"
                    role="img"
                    height="1em"
                    width="1em"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"
                    ></path></svg></span
                ><span class="gb-headline-text">Uplifts their voices</span>
              </p>
              <p style="display: flex;
              align-items: center;
              column-gap: 0.5em;
              font-size: 18px;
              font-weight: 500;
              color: var(--color-contrast-5);">
                <span style="line-height: 0; padding-right: 1em;"><svg
                    aria-hidden="true"
                    role="img"
                    height="1em"
                    width="1em"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"
                    ></path></svg></span
                ><span class="gb-headline-text"
                  >Facilitates connection <em>WITHIN</em> and
                  <em>BETWEEN</em> these communities</span
                >
              </p>
              <p style="display: flex;
              align-items: center;
              column-gap: 0.5em;
              font-size: 18px;
              font-weight: 500;
              color: var(--color-contrast-5);">
                <span style="line-height: 0; padding-right: 1em;"><svg
                    aria-hidden="true"
                    role="img"
                    height="1em"
                    width="1em"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"
                    ></path></svg></span
                ><span class="gb-headline-text"
                  >Enables them to work <em>ACROSS</em> to the majority
                  community, and</span
                >
              </p>
              <p style="display: flex;
              align-items: center;
              column-gap: 0.5em;
              font-size: 18px;
              font-weight: 500;
              color: var(--color-contrast-5);">
                <span style="line-height: 0; padding-right: 1em;"><svg
                    aria-hidden="true"
                    role="img"
                    height="1em"
                    width="1em"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill="currentColor"
                      d="M256 56c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m0-48C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 168c-44.183 0-80 35.817-80 80s35.817 80 80 80 80-35.817 80-80-35.817-80-80-80z"
                    ></path></svg></span
                ><span class="gb-headline-text"
                  >Fosters collaboration as they endeavor to co-lead their
                  Beloved Community</span
                >
              </p>
            </div>

            <div style="width: 50%; display: flex; flex-direction: column">
              <div
                style="
                  height: 60%;
                  padding-top: 60px;
                  padding-left: 60px;
                  background-image: url(https://bernadettes36.sg-host.com/wp-content/uploads/2024/08/DCC_Portrait_1-scaled.jpg);
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: cover;
                "
              ></div>

              <div
                style="
                  height: 40%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding-top: 40px;
                  padding-right: 60px;
                  padding-left: 60px;
                  margin-right: auto;
                  margin-left: auto;
                  background-color: var(--color-contrast-4);
                "
              >
                <h3 style="font-weight: 700; color: var(--color-base-2)">
                  Our Founder
                </h3>

                <p style="color: var(--color-contrast-2)">
                  Dr. JMarie Johnson-Kola, brings decades of experience
                  championing social justice and equity, ensuring every
                  community member has a seat at the table.
                </p>

                <a
                  style="    background-color: var(--color-contrast-2);
                  color: var(--color-base-2);
                  font-size: 16px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  margin-bottom: 2rem;
                  padding: 12px 36px;
                  text-transform: uppercase;"
                  href="https://bernadettes36.sg-host.com/about-us/"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2022 My Website. All rights reserved.</p>
    </footer>
  </body>
</html>
